<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.spring.dao.MemberDAO">
  <select id= "getMember" resultType="kr.green.spring.vo.MemberVO"> 
    select * from member where me_id = #{bd_id}
  </select>
  <insert id="sighUpMember">
  		insert into 	member(me_id, me_pw, me_name, me_gender, me_birth, me_address, me_phone)
			values(#{member.me_id},#{member.me_pw},#{member.me_name},#{member.me_gender},	#{member.me_birth},#{member.me_address},#{member.me_phone})  
	</insert>
	<update id="updateMember">
		update member set
		me_name = #{member.me_name},
		me_pw = #{member.me_pw},
		me_gender = #{member.me_gender},
		me_birth = #{member.me_birth},
		me_address = #{member.me_address},
		me_phone = #{member.me_phone},
		me_authority = #{member.me_authority}		
		where me_id = #{member.me_id}
	</update>
	
  <select id= "findId" resultType="String"> 
    select me_id from member 
    where me_name = #{member.me_name} and me_email = #{member.me_email}
    limit 1
  </select>
  
</mapper>
