<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.khl.dao.CommantDAO">

	<insert id="insertCommant">
	
		<if test="commant.co_ori_num == 0">
			insert into commant (co_bd_num, co_me_id, co_content, co_ori_num)
			select #{commant.co_bd_num}, #{commant.co_me_id},
							#{commant.co_content}, ifnull(max(co_num),0)+1
			from commant
		</if>
		<if test="commant.co_ori_num != 0">
			insert into commant (co_bd_num, co_me_id, co_content, co_ori_num)
			values( #{commant.co_bd_num}, #{commant.co_me_id},
							#{commant.co_content}, #{commant.co_ori_num})
		</if>
		
	</insert>
	
	<select id="selectCommantList" resultType="kr.green.khl.vo.CommantVO">
		select * from commant where co_bd_num = #{co_bd_num} and co_del='N'
		order by co_ori_num desc, co_num asc
		limit #{pm.pageStart}, #{pm.perPageNum}
	</select>
	
	<select id="selectTotalCount" resultType="int">
		select count(*) from commant where co_bd_num = #{co_bd_num} and co_del='N'
	</select>
	
	<select id="selectCommant" resultType="kr.green.khl.vo.CommantVO">
		select * from commant where co_num = #{co_num} and co_del='N'
	</select>
	
	<update id="deleteCommant" >
		update commant set co_del = 'Y' where co_num = #{co_num}
	</update>
	
	<update id="updateCommant">
		update commant set co_content = '[수정됨] ' #{commant.co_content}
		where co_num = #{commant.co_num}
	</update>
	

	
	<insert id="setTest">
		insert into test (te_num, 
		<if test="tv.Color.length > 0" > te_name1</if>
		<if test="tv.Color.length > 1">, te_name2</if>
		<if test="tv.Color.length >2">, te_name3</if>)
		value(
			#{tv.num},
			<foreach collection="tv.Color" item="map" separator="," > 
				'${map}'
			</foreach>
		);
	</insert>
	
	
	<select id="getTest" resultType="kr.green.khl.vo.TestVO">
		select * from test
		where te_num = #{num}
	</select>
	
	
</mapper>
