<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- 테스트 코드 -->

<mapper namespace="kr.green.khl.service.MemberService">
	<select id="login" parameterType="kr.green.khl.vo.MemberVO" resultType="kr.green.khl.vo.MemberVO">		
		select * from member where me_id = #{me_id}	
	</select>
	<insert id="join" parameterType="kr.green.khl.vo.MemberVO">		
		insert into member value (#{me_id}, #{me_pw}, #{me_name}, #{me_gender}, #{me_birth}, #{me_address}, '010-1234-5678');
	</insert>
</mapper>

